@model Proxy.Models.ProxyPart
    
<div class="editor-field">
    @Html.LabelFor(x => x.ServiceUrl, T("Service Url"))
    @Html.TextBoxFor(x => x.ServiceUrl , new { @class = "large text" })
    @Html.ValidationMessageFor(x => x.ServiceUrl)
</div>
<div class="hint">@T("Service url (e.g. http://localhost:5601)")</div>

<div>
    @Html.EditorFor(m => m.ForwardHeaders)
    <label class="forcheckbox" for="@Html.FieldIdFor(m => m.ForwardHeaders)">@T("Forward Headers")</label>
    <span class="hint">@T("Forward non-restricted headers.")</span>
</div>